<!DOCTYPE html>
<html>
<head>
	<title>BLOOD BANK</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/bloodbank.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">BloodBank</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		  <div class="navbar-nav ml-auto">
			<a class="nav-item nav-link " href="/">Home  <span class="sr-only">(current)</span></a>
			<a class="nav-item nav-link" href="/donor">Donor Register </a>
			<a class="nav-item nav-link active" href="/bankLogin">BloodBank Login </a>
			<a class="nav-item nav-link" href="/hospitalLogin">Hospital Login </a>
		  </div>
		</div>
	  </nav>
<div class="container">
    <% data.forEach(function(dat) { %>
        <div class="card quan">
            <div class="innerquan"><%= dat.blood_group %><%= dat.rh_factor %></div><%= dat.available %></div>
    <% }); %>


</div>

<div class="cont">
	<div class="card">
        <a href="addReport" class="button">
            <img src="images/heart (1).png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Add a donation</h5> 

            </div>
        </a>
    </div>
    <div class="card">
        <a href="/bbStatistics" class="button">
            <img src="images/statistics.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Statistics</h5> 

            </div>
        </a>
    </div>
    <div class="card">
        <a href="/bbBloodRequest" class="button">
            <img src="images/blood-request.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Blood Requests</h5> 

            </div>
        </a>
    </div>  
</div>
</body>
</html>