<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/home.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">Homepage</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		  <div class="navbar-nav ml-auto">
			<a class="nav-item nav-link " href="/">Home  <span class="sr-only">(current)</span></a>
			<a class="nav-item nav-link" href="/donor">Donor Register </a>
			<a class="nav-item nav-link" href="/bankLogin">BloodBank Login </a>
			<a class="nav-item nav-link" href="/hospitalLogin">Hospital Login </a>
		  </div>
		</div>
	  </nav>
<div class="parallax"><div><span class="bbname">BloodBank</span>
    <div class=btns>
        <button class="btn-md" onclick="location.href='/donor';">Donor Register</button>
        <button class="btn-md" onclick="location.href='/bankLogin';">Blood Bank Login</button>
        <button class="btn-md" onclick="location.href='/hospitalLogin';">Hospital Login</button>
    </div>
    
</div>
</div>



</body>
</html>