<!DOCTYPE html>
<html>
<head>
	<title>Hospital Login</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="css/hospitalLogin.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
</head>
<body>

    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">BloodBank</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		  <div class="navbar-nav ml-auto">
			<a class="nav-item nav-link " href="/">Home</a>
			<a class="nav-item nav-link" href="/donor">Donor Register </a>
			<a class="nav-item nav-link " href="/bankLogin">BloodBank Login </a>
			<a class="nav-item nav-link active" href="/hospitalLogin">Hospital Login </a>
		  </div>
		</div>
	  </nav>



    <div class="container-lg">
    <div id="icon"><img src="images/hospitalLogin.png"></div>
    <h1>Hospital Login</h1>
    <hr>
    <% if (error == 1) { %>
    <span id="err">The pasword is incorrect. Try again !!</span>
    <%}%>
    
    <form action="/authHospital" method="POST">
        <input class="form" name="username" type="text" placeholder="&#xf007;   Username">
        <input class="form" name="password" type="password" placeholder="&#xF023;   Password">
        <button type="submit" class="btn-lg button">LOGIN</button>
    </form>
</div>
</body>
</html>