<!DOCTYPE html>
<html>
<head>
	<title>Not Eligible</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/notEligible.css">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
</head>
<body>
	<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">BloodBank</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		  <div class="navbar-nav ml-auto">
			<a class="nav-item nav-link " href="/">Home  <span class="sr-only">(current)</span></a>
			<a class="nav-item nav-link active" href="/donor">Donor Register </a>
			<a class="nav-item nav-link " href="/bankLogin">BloodBank Login </a>
			<a class="nav-item nav-link" href="/hospitalLogin">Hospital Login </a>
		  </div>
		</div>
	  </nav>
	<div class="container-lg">
		<div class="inner">
			<div id="photo"><img src="images/sad.png"></div>
			<h2>
                Sorry <span id="name"><%= fname %> <%=lname %> </span> ! You're unfit to donate blood.
            </h2>
            <br>
            <h5>Thanks for participating in this humane cause. You're a hero too <3</h5>
			<hr>
			<button onclick="location.href='/';" class="btn-sm">Back to Homepage</button>
		</div>
		
	</div>

</body>
</html>