body{
	background: linear-gradient(to right, #ffdde1, #ee9ca7, #a7bfe8, #6190e8);
	background-size: 400% 400%;
	background-position: 50% 50%;
	font-family: 'Comfortaa', cursive;
    color: rgb(69,69,69);
}

.card{
	width: 21%;
	margin-left: 9.2%;
	display: inline-block;
	/* float:left; */
	text-align: center;
	background-color:rgb(252, 251, 244);
	border: none;
	border-radius: 8px;
	-webkit-box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.48);
	-moz-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.48);
	box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.48);
}
.card:hover {
    -webkit-box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.48);
	-moz-box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.48);
	box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.48);
}
img{
	padding: 35px;
	/* border:2px solid pink; */
}

.button{
    color: rgb(69,69,69);
	text-decoration: none;
}
.button:hover,.button:focus{
    
    color: rgb(69,69,69);
	text-decoration: none;
}

.cont{
    max-width: 80%;
    margin: 0 auto;
	margin-top: 5%;
    /* height: 100px; */
    
}
.container {
	padding-top: 3%;
	text-align: center;
	/* width: 70%; */
}
.quan {
	margin: 0 auto;
	/* margin-top: 1%; */
	margin-left: 2.5%;
	margin-right : 2.5%;	
	width: 77px;
	height: 100px;
	border-radius: 8px;
	text-align: center;
	-webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.48);
	-moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.48);
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.48);
	font-size: 22px;
}
	

.innerquan{
	display:flex;
   align-items: center;
   justify-content: center;
   color:white;
   font-size: 27px;
   height:65%;
    background-color: rgb(252, 147, 164); /*rgb(247, 67, 103);*/
   border-radius: 8px 8px 0 0;
   font-weight: bold;
}

 /* Navbar CSS  */
 .navbar {
	font-size: 15px;
	-webkit-box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.48);
	-moz-box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.48);
	box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.48);
	background-color:rgb(252, 251, 244) !important;
 }
.navbar-brand {
	font-weight : 700;
}
.nav-item {
	padding-left: 20px !important;
}